.container {
  background-image: url("../../img/background/home-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: block;
  align-content: center;
}

.main-news {
  height: 80vh;
  margin: 0 auto;

  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-content: center;
}

.left-news {
  background-color: #3f3b51;
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
}

.video {
  margin-bottom: 3rem;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.notice-image {
  width: 60%;
  height: 60%;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Roboto";
  color: #78d0d3;
  text-align: center;
}

.description {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto";
  color: #ffffff;
  text-align: justify;
}

.right-news {
  background-color: #3f3b51;
  width: 100%;
  height: 43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 2rem;
}

.image-right-news {
  width: 85%;
  height: 40%;
}

.title-right-news {
  font-size: 2em;
  font-weight: 700;
  font-family: "Roboto";
  color: #78d0d3;
  text-align: center;
}

.description-right-news {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Roboto";
  color: #ffffff;
  text-align: justify;
}

.secondary-news {
  width: 100%;
  border-radius: 0.5rem;
  height: 12rem;
  background-color: #3f3b51;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 3rem;

  position: relative;
}

.secondary-news div.info-tech {
  position: absolute;
  right: -1rem;
  top: -1rem;
  border-radius: 2rem;
  height: 3rem;
  width: 4rem;
  z-index: 0;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #78d0d3;
  font-weight: 700;
}

.secondary-news div.info-science {
  position: absolute;
  right: -1rem;
  top: -1rem;
  border-radius: 2rem;
  height: 3rem;
  width: 6rem;
  z-index: 0;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #78d0d3;
  font-weight: 700;
}

.secondary-news div.info-coronavirus {
  position: absolute;
  right: -1rem;
  top: -1rem;
  border-radius: 2rem;
  height: 3rem;
  width: 8rem;
  z-index: 0;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #78d0d3;
  font-weight: 700;
}

.secondary-news-image {
  width: 30%;
}

.content-secondary-news {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-secondary-news {
  font-size: 1.7em;
  font-weight: 700;
  font-family: "Roboto";
  color: #78d0d3;
}

.description-secondary-news {
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Roboto";
  color: #ffffff;
  text-align: justify;
}
